<div>
<%= form_tag( "/pdf/ui/#{@output_format}", id: "form", method: "post" ){ %>
  <table>
    <tr><td><%= text_field_tag( :pdf_url, "", placeholder: "PDF URL" ) %></td></tr>
    <tr><td><%= render "ui/width" %> x <%= render "ui/height" %></td></tr>
    <tr><%= render "ui/direction_view" %></tr>
    <tr><td><%= submit_tag( "gzsl" ) %></td></tr>
  </table>
<% } %>
</div>
