<div>
<%= form_tag( "/gzsl/view.#{@form_format}", id: "form", method: "post" ){ %>
  <table>
    <tr><td><%= hidden_field_tag( :data ) %></td></tr>
    <tr>
      <td><%= text_field_tag( :url, "", placeholder: "URL" ) %></td>
      <td id="local_file_status">None</td>
      <td><%= file_field_tag( :local_file, accept: ".gzsl" ) %></td>
    </tr>
    <tr>
      <td><%= submit_tag( "Vertical View" ) %></td>
      <td><%= submit_tag( "Horizontal View" ) %></td>
    </tr>
  </table>
<% } %>
</div>
